.register {
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../static/background-image.png");
    background-size: cover; 
}

.registerTitle {
    font-size: 50px;
}

.registerForm>label {
    margin: 10px 0;
}

.registerForm {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
}